@import "tailwindcss";

@theme {
  /* Custom theme configuration for the component library */
  --font-family-sans: serif;
  /* --color-primary-50: #eff6ff;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-white: #ffffff; */
}

/* Base styles for the component library */
.uiex-base {
  font-family: var(--font-family-sans);
}
